@import "base";

html{
    margin: 0;
    padding: 0;
    height: 100%;

    body{
        height: 100%;
    }
}

.mashead {
    text-align: center;
    font-family: $font-primary;
    margin-top: -10px;
    display: block;

    img {
        margin-top: -50px;
        padding-bottom: 100px;
    }

    h2 {
        font-size: 48px;
    }

    .btn-start {
        padding: 10px 20px;
        font-size: $bigger;
        color: $white;
        background: $dark-blue;

        &:hover {
            background: $medium-blue;
        }
    }
}

.jumpwhite {
    background: $white;
    color: $dark-blue;

    h1, h2 {
        font-weight: 300;
        padding: 100px;
        line-height: 1.4em;
    }
}

.jumpblue {
    background: $primary-color;
    color: $white;

    h2 {
        font-weight: 300;
        padding: 100px;
        line-height: 1.4em;
    }
}

.jumpicon {
    background: url(../images/background-icons.jpg);
    background-size: cover;
    height: 800px;
    padding-top: 200px;
    
    h2 {
        font-weight: 300;
        padding: 100px;
        line-height: 1.4em;
        color: $white;
        width: 100%;
        background: rgba($black, 0.2);
    }
}

.jumpotron {
    background: url(../images/claimcodebackground.jpg);
    background-size: cover;
    color: $white;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    padding-top: 200px;
    height: 700px;
    background-attachment: fixed;
    
    @media (max-width: 1000px) {
        padding-top: 125px;
    }

    .container {
        position: relative;
        z-index: 2;
        height: 100%;
    }

    a {
        font-weight: 300;
        color: $white;
    }
}

.mashead-links {
    list-style: none outside none;
    margin: 0;
    padding-left: 0;

    li {
        color: $white-quarter;
    }
}

.home-sub-link {
    font-size: $big;
    padding-bottom: 40px;
    padding-top: 60px;
}


.claim-code-input {
    @extend .font-default;
    font-weight: 300;
    width: 280px;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    font-size: $bigger;
    color: $dark-gray;
}

#claim-code-wrapper {
    z-index: 2;
}